 
VITE_SUPABASE_ROOM_IMAGE_BUCKET=poolvillas

VITE_SUPABASE_URL=https://tqqakajhlxenkxldvtmh.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxcWFrYWpobHhlbmt4bGR2dG1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwOTE2MCwiZXhwIjoyMDc3Mjg1MTYwfQ.AJGA05eWGJz72FLgGq4DDC3oDX6ETTx8Rb87lpKzl7w
SUPABASE_ANON_PUBLIC=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxcWFrYWpobHhlbmt4bGR2dG1oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MDkxNjAsImV4cCI6MjA3NzI4NTE2MH0.OoTXD0nnmJv3w3AAF9Hb6LKujWazsdonyvP7Gukve7c



VITE_LIFF_ID=2008897764


PORT=5050
APP_JWT_SECRET=CHANGE_ME_SUPER_SECRET

# Supabase
SUPABASE_URL=https://tqqakajhlxenkxldvtmh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxcWFrYWpobHhlbmt4bGR2dG1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwOTE2MCwiZXhwIjoyMDc3Mjg1MTYwfQ.AJGA05eWGJz72FLgGq4DDC3oDX6ETTx8Rb87lpKzl7w
SUPABASE_ANON_PUBLIC=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxcWFrYWpobHhlbmt4bGR2dG1oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MDkxNjAsImV4cCI6MjA3NzI4NTE2MH0.OoTXD0nnmJv3w3AAF9Hb6LKujWazsdonyvP7Gukve7c

# Omise/Opn
OMISE_SECRET_KEY=skey_test_xxx

# LINE OA
LINE_CHANNEL_ACCESS_TOKEN=YOUR_LINE_CHANNEL_ACCESS_TOKEN
LINE_CHANNEL_SECRET=YOUR_LINE_CHANNEL_SECRET
LINE_LOGIN_CHANNEL_ID=2008897764

# Admin
ADMIN_TOKEN=super-admin-token

# Webapp public url (for receipt link)
PUBLIC_WEB_URL=http://localhost:5173

ADMIN_JWT_SECRET=SUPER_SECRET_ADMIN_JWT

